@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AutoRepairCRM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="text-sm-center mx-auto">
    <h1 class="text-danger">Access Denied</h1>
    <h2 class="text-danger">You are trying to access unauthorized page!</h2>
</div>
</body>
</html>