<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AutoRepairCRM</title>
    <link rel="stylesheet" href="~/lib/fontAwesome/dist/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AutoRepairCRM.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <!-- Sidebar -->
    <nav
        id="sidebarMenu"
        class="d-lg-block sidebar position-fixed">
        <div class="position-sticky">
            <ul class="list-group list-group-flush mx-2 mt-4 navbar-nav">
                <partial name="_Navbar"/>
            </ul>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav
        id="main-navbar"
        class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Auto Repair Shop</a>

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row mt-1">
                <!-- Avatar -->
                <partial name="_LoginPartial"/>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - @DateTime.UtcNow.Year - AutoRepairCRM
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>